/*=============================================
=            Reset            =
=============================================*/

* {
  margin: 0;
  padding: 0;
  outline: none;
}

/*=============================================
=            Common            =
=============================================*/

body {
  background: #ebe9d7;
}
